# Python gitignore
# ----------------
__pycache__/
*.py[cod]
*$py.class

# Global gitignore
# ----------------

# Mac OS X
.AppleDouble
.DS_Store
.LSOverride
._*

# Windows
$RECYCLE.BIN/
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Vim
*~

# VS Code
.history
.vscode

# JetBrains
.idea
